# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Screenshots
screenshots/

# Videos
videos/

# Traces
traces/